# Conda environment
mlflow_agentic_env/
requirements.txt

# MLflow experiment data and logs
data/mlruns/
src/notebooks/data/mlruns/
# src/notebooks/data/mlflow.db  --- IGNORE ---

# Local MLflow database (if not needed in version control)
# mlflow.db  --- IGNORE ---

# Jupyter notebook checkpoints and outputs
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# OS/Editor files
.DS_Store
*.swp

#Code for generating data
src/notebooks/data/
src/scripts/data/

#Notebooks
src/notebooks/

#Config files with sensitive info
src/config.json

#Other Stuff
.vscode/